header {
    height: 100vh;
    padding-top: 10rem;
    overflow: hidden;
    margin-bottom: -5rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ---------------- CTA ----------------*/

.cta {
    margin-top: 32rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ---------------- SOCIALS ----------------*/


/* ---------------- ME ----------------*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 28rem;
    height: 28rem;
    position: absolute;
    left: calc(50% - 14rem);
    margin-top: 4rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 2rem 0rem 0rem 0rem;
    margin-top: 2rem;
}

img {
    margin-left: -5px;
}

/* ------------- MEDIA QUERIES (MEDIUM DEVICES) ----------*/
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
    .header__socials {
        display: none;
    }
}

/* ------------- MEDIA QUERIES (SMALL DEVICES) ----------*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

}
